#parse("header.html")
<link rel="stylesheet" href="../styles/detail.css">
<div class="zg-wrap zu-main clearfix with-indention-votebar" itemscope="" itemtype="http://schema.org/Question"
	 id="zh-single-question-page" data-urltoken="36301524" role="main">
	<div class="zu-main-content">
		<div class="zu-main-content-inner">
			<meta itemprop="isTopQuestion" content="false">
			<meta itemprop="visitsCount" content="402">
<body>
	<fieldset>
		<form action="/uploadImage" method="post" enctype="multipart/form-data">
			文件的提交:<input type="file" name="file"><br />
			<input type="submit" value="上传">
		</form>
	</fieldset>
</body>
#parse("tail.html")